body {

}

.container {
    display: flex;
    justify-content: space-around;
    background-color: sandybrown;
    width: 600px;
    margin: 100px auto;
    padding: 10px 20px;
    border-bottom: 5px solid chocolate;
}

.img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid chocolate;
}

.incont {
    text-align: center;
}