body {
    margin: 20px;
}

.field{
    margin: 20px;
}

.entrii {
    padding: 5px;
    border-color: burlywood;
    border-radius: 10px;
    width: 50%;
}

.btn {
    margin: 10px;
    padding: 5px;
    border: 1px solid chocolate;
    background-color: aliceblue;
    color: chocolate;
    border-radius: 10px;
    width: 100px;
}