body {

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: orangered;
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
    width: max-content;
    border-radius: 10px;
}

.stock-img {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    margin: 10px;
}

.wrapper {
    text-align: start;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 1px;
}

.img {
    height: 20px;
    width: 20px;
    margin: 4px;
}







